<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.distribuidora.distribuidorapreventas"
    android:installLocation="auto"
    android:versionCode="32"
    android:versionName="11">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="34" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListadoClientes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PedidoContenedor"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PedidoCabecera"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PedidoDetalle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListadoProductos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetalleProducto"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DatosProducto"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DatosCliente"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MovimientosContenedor"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Cobranzas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Configuracion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Opciones"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Consultas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Sincronizacion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConsultasProductos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Stock"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MovimientosPedidos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MovimientosTotales"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ClientePedidos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ClienteMovimientos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ClientesTodos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StockProductos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Devoluciones"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListadoProductosDevolucion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetalleProductoDevolucion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ItemVenta"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ItemCobro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ItemDevolucion"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>